#aside-content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, 0.8);
}

/* #aside-content .card-widget{
    opacity: 0.8;
} */

body::-webkit-scrollbar {
    display: none;
}



/* 副标题 */
#subtitle {
    letter-spacing: 3px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}


/* 文章封面标题 */
.article-title {
    transition: 0.4s;
}

.recent-post-item:hover .article-title {
    transform: translateX(8px);
}

/* 个人信息卡片 */
#aside-content .card-info {
    height: 378px;
    transition: 0.5s;
    /* opacity: 0.8; */
}

#aside-content .card-info:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}

/* 图标 */

.social-icon:nth-child(1) {
    --i: 1;
}

.social-icon:nth-child(2) {
    --i: 2;
}

.social-icon:nth-child(3) {
    --i: 3;
}

.social-icon:nth-child(4) {
    --i: 4;
}


.social-icon {
    display: inline-block;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(25px);
    transition-delay: calc(0.1s * var(--i))
}

#search-button .social-icon {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: none !important; /* 如果不想要平滑过渡的话，可以禁用 */
}


#aside-content .card-info:hover .social-icon {
    transform: translateY(0);
    opacity: 1;
}

.social-icon .fab:hover {
    transform: none;
}

#aside-content .card-info .is-center .avatar-img {
    transition: 0.5s;
    transform: translateY(5px);
}

#aside-content .card-info:hover .is-center .avatar-img {
    transform: translateY(-5px);
}

#aside-content .card-info .author-info__description {
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;

}

#aside-content .card-info #card-info-btn {
    margin-top: 0;
}



#body-wrap{
    background-color: rgba(0, 0, 0, 0.3);

}


/* 去除导航栏选项中底下的蓝条*/
#nav *::after{
    background-color: transparent!important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover{
    font-size:24px;
}

#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}



 #nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
} 

.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}



/* 页脚透明 */
#footer {
	/* 以下代表透明度为0.7 */
	background: rgba(255,255,255, .0);
}


@font-face {
    font-family: 'LXGWWenKaiMono';
    font-display: swap;
    src: url('https://cdn.lmark.cc/LXGWWenKaiMonoLite-Bold.ttf') format('truetype');
  }
  
/*应用在body体里，放在第一个，font-family会按顺序使用字体族。如果第一个没找到就会找第二个，以此类推。*/
body {
font-family: LXGWWenKaiMono ,-apple-system /*BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif */
}

/*指针样式*/
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
/*链接小手样式*/
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}


/* 天气 */
#tp-weather-widget {
    position: relative;
    top: -3px;  /* 向上移动10像素 */
    left: -10px; /* 向左移动10像素 */
  }

#page-header {
/* background-attachment: fixed; */
background-color: transparent !important;
background-image: unset !important
}

#page-header:not(.not-top-img):before{
    background: none !important;
}

#web_bg{
    transition: filter 0.3s;
}

#post {
    background: rgba(255, 255, 255, 0.85);
}

#gitcalendarBar.recent-post-item {
    background-color: rgba(227, 224, 224, 0.9);
}


